.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.follow-btn{
    padding: 5px 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 5px;
}

.not-following:hover{
    background-color: greenyellow;

}

.following:hover{
    background-color: red;
}

.profile-info{
    display:flex;
    flex-direction: column;
    align-items: start;
    /* background-color: aqua; */
    margin-top: 30px;
    border: 1px solid #e0e0e0;
    padding: 30px;
    border-radius: 20px;
    
}

.stat{
    display: flex;
    align-items: center;

    
}

.stat-number{
    font-weight: 600;
    margin: 5px 10px;
}

.profile-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #e0e0e0;
    width: 90%;
    margin: 30px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 18px 10px #e0e0e0;
    
}

.posts-grid{
    width: 100%;
}